*.jar
*.gz
*.zip
*.mca
*.dat
*.dat_old
*.lock
*.log
*.bak
*.pem

/tmp
/map
/world
/world_nether
/world_the_end
/hardcore
/skyblock
/skyblock_nether
/skyblock_the_end
/crash-reports
/Legendary-Java-Minecraft-Geyser-Floodgate
/plugins
/main
/main_nether
/main_the_end
/node_modules
.console_history
*.json
*.yml
/server.properties
/floodgate-fingerprint.html
/eula.txt